@import '../../defines/common.scss';

.NavBarDetail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;

  &-Back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: -1;
    border-bottom: 0.5px solid $cm-color-border;
  }

  &-Left {
    &-Button {
      display: flex;
      align-items: center;
      border-radius: 5px;
      &-Icon {
        width: 20px;
        height: 20px;
        margin-right: 3px;
      }
      &-Name {
        font-size: 14px;
        color: #666666;
      }
    }
  }
}

@media (any-hover: hover) {
	.NavBarDetail {
    &-Left {
      &-Button:hover {
        background-color: $cm-color-hover-nav;
      }
    }
  }
}

@media screen {
  .NavBarDetail {
    height: 60px;
    padding: 0 20px;
    &-Left {
      &-Button {
        padding: 5px;
      }
    }
  }
  .NavBarDetailPlaceholder {
    height: 60px;
  }
}

// 移动设备
@media screen and (max-width: $cm-mobile-max-width) {
  .NavBarDetail {
    height: 50px;
    padding: 0 10px;
    &-Left {
      &-Button {
        padding: 5px;
      }
    }
  }
  .NavBarDetailPlaceholder {
    height: 50px;
  }
}